<html>
<head>
  <title>
    <%= event.eventName %>
  </title>
   <link rel="stylesheet" href="/css/style.css">
  <%- include('parts/head') %>
</head>
  <body>
    <%- include('parts/nav') %>
    <!-- Page  -->
    <main style="padding: 1.5rem; margin: 0 auto; max-width: 1300px">
    
      <div class="card">
       <div class="cheader">
          <p>Name:<%= event.eventName %></p>
          <div class="ac"><%= event.createdAt %></div>
       </div>
        <div class="cmain">
          <% if (event.eventDescription) { %>
              <p>Description: <%= event.eventDescription %></p>
          <% } else { %>
              <p>Description: None</p>
          <% } %>
          <p>By : <%= event.createdBy.username %></p>
        </div>
        <% if(event.approved) {%>
        <div class="cfooter a1">
        <div class="a1">
        Approved</div>    
        </div>
          <% } else if(event.pending) {%>
          <div class="cfooter a2">
          <div class="a2">
          Pending</div>    
          </div>
          <% } else {%>
            <div class="cfooter a3">
            <div class="a3">
            Disapproved</div>    
            </div>
            <% }%>
      </div>
    </main>




  </body>
</html>



