<html>
  <head>
    <title>login</title>
    <link rel="stylesheet" href="/css/style.css">
    </head>
  <body>
    <%- include('parts/nav') %>
    <!-- dont edit this -->
    <h1 class="paget">All Events</h1>
      <div class="con center1">
    <% if (events.length > 0) { %>
            <% events.forEach(event => { %>

              <div class="card">
                <a href="/events/<%= event.eventName %>">
               <div class="cheader">
                  <p>Name:<%= event.eventName %></p>
                  <div class="ac"><%= event.createdAt %></div>
               </div>
                <div class="cmain">
                  <% if (event.eventDescription) { %>
                      <p>Description: <%= event.eventDescription %></p>
                  <% } else { %>
                      <p>Description: None</p>
                  <% } %>
                  <p>By : <%= event.createdBy.username %></p>
                </div>
                <% if(event.approved) {%>
                <div class="cfooter a1">
                <div class="a1">
                Approved</div>    
                </div>
                  <% } else if(event.pending) {%>
                  <div class="cfooter a2">
                  <div class="a2">
                  Pending</div>    
                  </div>
                  <% } else {%>
                    <div class="cfooter a3">
                    <div class="a3">
                    Disapproved</div>    
                    </div>
                    <% }%>
                       </a>
              </div>
                     
            <% }); %>
    <% } else { %>
      
        <p>No events available.</p>
      
    <% } %>
      </div>
<!-- <div class="con center1">
      <div class="card">
       <div class="cheader">
          <p>Runtime</p>
          <a href="#">Details</a>
       </div>
        <div class="cmain">
          <p>42 <a href="#">ms</a></p>
        </div>
        <div class="cfooter a1">
          <div class="a1">
        Approved</div>
        </div>
      </div>
  <div class="card">
   <div class="cheader">
      <p>Runtime</p>
      <a href="#">Details</a>
   </div>
    <div class="cmain">
      <p>42 <a href="#">ms</a></p>
    </div>
    <div class="cfooter a3">
      <div class="a3">
    Approved</div>
    </div>
  </div>
  <div class="card">
   <div class="cheader">
      <p>Runtime</p>
      <a href="#">Details</a>
   </div>
    <div class="cmain">
      <p>42 <a href="#">ms</a></p>
    </div>
    <div class="cfooter a3">
      <div class="a2">
    Approved</div>
    </div>
  </div>
  </div> -->
      <!-- temporary -->
      
    </body>
</html>